body{
	margin:0; width:100%; height:100%; overflow:hidden;
	a {text-decoration: none};
	a:link {color:cyan };
	a:visited {color:magenta };
	
}
#background{
	position:absolute;
	background: red url(/ParkerBrosMkII/Images/bgpics/rotator.php) no-repeat fixed center; 

	width:100%; 
	height:100%;
	top:0;
	left:0;

}
#scroller {
	position:absolute; 
	left:11em; 
	width:85%; 
	height:83%; 	top:17%; 
	overflow:auto; 
	z-index:2;
	padding-right:2em;
	text-align:center;
} 
#topbanner{
	position:absolute; top:0; left:0;
 	width:100%;
	height:12%; 
	text-align:center;
	font-size:400%;
	color:black;
	z-index:5;
}
h3{
	font-family:typewriter,arial;
	text-align:center;
	color:yellow;
	font-size:250%;
}
h2{
	font-family:typewriter,arial;
	text-align:center;
	color:olive;
	font-size:200%;
}
#menu1{
	position:absolute; top:12%; left:10%; width:90%;
	color:white;
	font-family:typewriter,arial;
	font-size:100%;
	z-index:4;
	text-align:left;
}
#menu2{
	position:absolute; top:12%; left:0; width:10%;
	color:white;
	font-family:typewriter,arial;
	font-size:100%;
	z-index:4;
	text-align:center;
}
input.menu1button{
	width:10%;
	
}
input.menu2button{
	width:95%;

}input.menufullbutton{
	width:100%;
	
}
input.menu3button{
	width:60%;
	
}
input.multirowsubmit{
	width:150px;
	height:800px;
}
table.threequarterwidth{
	width:75%;
}
td.general{
	color:black;
	background-color:white;
}	
td.Totals{
	color:green;
	background-color:#ffeeee;
	font-size:125%;
}
td.MasterTotals{
	color:green;
	background-color:#ffeeee;
	font-size:130%;
	font-weight:bold;
}	
td.SubHeading1{
	color:blue;
	background-color:white;
	font-size:175%;
}	
td.SubHeading2{
	color:blue;
	background-color:White;
	font-size:150%;
}	
td.SubHeading3{
	color:black;
	background-color:white;
	font-size:125%;
	font-weight:bold;
}	
p.general{
	font-family:arial,sansserrif;
	color:white;
	text-align:Justify;
	font-size:100%;

	a {text-decoration: none};
	a:link {color:lime };
	a:visited {color:magenta };
}
p.notice{
	font-family:arial;
	color:orange;
	text-align:center;
	font-size:200%;
}